5128A59_Low-Profile Hold-Down Toggle Clamp.SLDPRT
90591A151_Zinc-Plated Steel Hex Nut.SLDPRT
91166A250_Zinc-Plated Steel Washer.SLDPRT
91292A141_18-8 Stainless Steel Socket Head Screw.SLDPRT
94060A148_Phillips Rounded Head Drilling Screws for Metal.SLDPRT
95462A029_Medium-Strength Steel Hex Nut.SLDPRT
96966A624_Zinc-Plated Steel Spade-Head Thumb Screws.SLDPRT
